# Database 
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=disable

# Server 
PORT=8080

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=0

# Auth
JWT_SECRET=your-secret-key-here
JWT_EXPIRY=24h
